#header{
    width: 100%; height: 80px; line-height: 80px;
    font-size: 14px; 
    position: absolute !important; z-index: 100;
    background: #00000041; 
    display: flex; align-items: center; justify-content: center;
    .wrapper{
        width: 90%;
        margin: 0 auto;
        display: flex; justify-content: space-between; 
        align-items: center;
        ul{
            display: flex; align-items: center; gap: 1.1rem;
        }
        ul.active{
            display: block;
            position: absolute; right: 2.5%; top: 80px; 
            text-align: center;
        }
        .fa-solid.fa-bars,
        .fa-solid.fa-xmark{ display: none; font-size: 24px;}
    }
    &.drop {
        position: fixed !important;
        animation: dropHeader 0.3s;
    }
    @keyframes dropHeader {
        0% {
            top: -5rem;
        }
        100% {
            top: 0;
        }
    }    
}


